<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>List all tasks</title>
</head>
<body>
<table>
    <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Estimated Hours</th>
        <th>Completed Hours</th>
        <th>Remaining Effort</th>
    </tr>
    <tr th:each="task : ${tasks}">
        <td th:text="${task.title}"></td>
        <td th:text="${task.description}"></td>
        <td th:text="${task.estimatedHours}"></td>
        <td th:text="${task.completedHours}"></td>
        <td th:text="${task.remainingEffort}"></td>
    </tr>
</table>

</body>
</html>